{% load static %}
<!doctype htmel>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.css"
        rel="stylesheet" clossorigin="anonymous">
    </head>
    <body class="containar">
        <h1 class="display-4 text-primary">
            {{title}}</h1>
        <p>{{message|safe}}</p>
        <form action="{% url 'find' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="検索"
            class="btn btn-primary">
        </form>
        <hr>
        <table class="table">
            <tr>
                <th>検査項目</th>
                <th>写真</th>
                <th>所見NO</th>
                <th>所見文章</th>
                <th>条件</th>
                <th>水質条件</th>
            </tr>
            {% for item in data %}
            <tr>
                <th>{{item.Test_Item}}</th>
                <td>{{item.Pic_need}}</td>
                <td>{{item.Shoken_No}}</td>
                <td>{{item.Shoken_Str}}</td>
                <td>{{item.Shoken_terms}}</td>
                <td>{{item.Water_terms1}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>