{% load static %}
<!doctype htmel>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.css" rel="stylesheet" clossorigin="anonymous">
</head>

<body class="p-3">
    <div class="containar">
        <h1 class="display-4 text-primary">
            <a href="/">{{title}}</a>
        </h1>
        <p>{{message|safe}}</p>
        <form action="{% url 'k_find' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="検索" class="btn btn-primary">
        </form>
        <hr>
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>メーカー名</th>
                <th>処理方式</th>
                <th>性能</th>
                <th>型式名</th>
                <th>検索</th>
            </tr>
            {% for item in data %}
            <tr>
                <th>{{item.MAKER_NM}}</th>
                <td>{{item.JLK_SYORIMEI}}</td>
                <td>{{item.JLK_SEINO}}</td>
                <td>{{item.JLK_MEISYO}}</td>
                <td>
                    {% if item.JLK_KATASIKI_LINK %}
                    <a href="{{item.JLK_KATASIKI_LINK}}" target="_blank" class="btn btn-sm btn-primary">
                        測定＆採水箇所
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>