body {
    color: gray;
    font-size: 16pt;
}
<<<<<<< HEAD

h1 {
    color: blue;
    opacity: 0.2;
    font-size: 36pt;
    margin: -20px;
    margin-bottom: 0px;
    text-align: center;
}

h2 {
    color: blue;
    opacity: 0.2;
    font-size: 36pt;
    margin: -20px;
    margin-bottom: 0px;
    text-align: center;
}

p {
    margin: 20pt;
}

a {
    color: black;
    text-decoration: none;
}
=======
h1 {
    color: blue;
    opacity:0.2;
    font-size: 36pt;
    margin: -20px;
    margin-bottom: 0px;
    text-align: right;
}
p {
    margin: 10pt;
}
a {
    color: blue;
    text-decoration: none;
}
>>>>>>> a337fb2a7f9fdba6e83f32597198a25237f90b9c
