body {
    color: gray;
    font-size: 16pt;
}

h1 {
    color: blue;
    opacity: 0.2;
    font-size: 36pt;
    margin: -20px;
    margin-bottom: 0px;
    text-align: center;
}

h2 {
    color: blue;
    opacity: 0.2;
    font-size: 36pt;
    margin: -20px;
    margin-bottom: 0px;
    text-align: center;
}

p {
    margin: 20pt;
}

a {
    color: black;
    text-decoration: none;
}

a.btn.menu-btn {
    text-align: center;
}

a.btn.menu-btn .icon {
    font-size: 50px;
    color: white;
    display: block;
}

a.btn.menu-btn .label {
    font-size: 50px;
    display: block;
    line-height: 1.2;
}